<h1>新規投稿page</h1>
<%= form_with url: "/posts", method: :post, local: true do |form| %>
  <%= form.text_field :content %>
  <%= form.submit "投稿する" %>
  <% end %>


  <%= form_with url:"/posts", method: :get, local: true do |f|%>
    <%= f.text_field :cotent %>
    <%= f.submit "投稿する" %>
  <% end %>

  <div class=endless>
  </div>